<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Add Bootstrap for additional styling -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
        // Example: Reload the page every 10 seconds
        setInterval(function () {
            window.location.reload();
        }, 10000); // Reload every 10 seconds
    </script>
    
</head>
<body>

    <div class="container">
        <div class="upload-card">
            <h1>Upload Excel File</h1>
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2025 Your Name or Organization. All Rights Reserved.</p>
    </footer>
    
</body>
</html>